

.panel {
  margin-bottom: 30px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.row {
  display: flex;
  gap: 22px;
}
.card {
  flex: 1 0 0;
  padding: 18px 23px 14px 15px;
  background: rgba(28,31,38,0.97);
  color: #DCE1DB;
}
.copyBtn {
  margin-left: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.06rem;
}
.copyBtn:hover {
  color: #41eb8b;
}

.textColor{
  color: #41eb8b;
}

@media screen and (max-width: 800px) {
  .panel {
    font-size: 12px;
    margin-top: 50px;
  }
  .row {
    flex-direction: column;
  }
  .card {
    padding: 12px 16px;
  }
}